header img{
    height: 00px;
}
nav a{
    text-decoration: none;
    color: rgb(139, 106, 55);
    font-size: 20px;
    padding: 15px 15px;
    font-family: Alkatra;
    transition: 0.5s;
    border-radius: 20px 5px 20px 5px;
}
body{
    margin: 0;
    font-family: Alkatra;
    background-color: rgb(196, 154, 77);;
}
header{
    text-align: center;
    background-color:rgb(218, 216, 181);
    box-shadow: 5px 4px 5px -2px rgb(92, 89, 70);
    padding: 8px 15px;
    width: 100%;
    position: fixed;
}
nav a:hover{
    color: rgb(97, 81, 37);
    background-color:rgb(179, 150, 110);
    border-radius:10px 10px 10px 10px ;
    box-shadow:5px 5px 5px -2px ;
    padding: 3px 30px ;
    transition: 0.5s;
}
.banner{
    background-color:rgb(252, 244, 202);
    padding: 5px 10px;
}
.home{
    height: 800px ;
    background-image: url(kombucha1.png);
    background-size: cover;
    padding-top: 50px ;
}
.deskHome{
    width:40% ;
    margin-left:50px ;
    font-size: 20px;
    & h3{
        color: rgb(139, 106, 55);
    }
    & p{
        color: rgb(110, 76, 11);
    }
}
.deskHome a{
    text-decoration: none;
    color: rgb(110, 76, 11);
    background-color: rgb(179, 156, 113);
    padding: 10px 25px;
    border-radius: 30px ;

}
.deskHome a:hover{
    box-shadow: 0px 0px 5px -1px rgb(216, 195, 136);
    transition: 0.5s;
}
section.project{
    height: 800px;
    text-align: center;
}
.containerAbout{
    width: 50%;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
    background-color:   rgb(182, 158, 115);
   
    & img{
        height: 300px;
        text-align: center;
        border-radius: 50px;
        box-shadow: 5px 5px 5px -2px rgb(75, 64, 42);;
    }
}